/* src/styles/globals.css */
@import 'antd/dist/reset.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 1.5s ease-out forwards;
}

.slide-out {
  animation: slideOut 1.5s ease-out forwards;
}

/* Custom styles for Dragger component */
.custom-dragger .ant-upload-drag {
  border-color: #9ca3af !important; /* Grey color */
  color: #9ca3af !important; /* Grey color */
}

.custom-dragger .ant-upload-drag-icon > .anticon {
  color: #9ca3af !important; /* Grey color */
}

.custom-dragger .ant-upload-text {
  color: #9ca3af !important; /* Grey color */
}

.custom-dragger .ant-upload-hint {
  color: #9ca3af !important; /* Grey color */
}

.custom-dragger:hover .ant-upload-drag,
.custom-dragger:hover .ant-upload-drag-icon > .anticon,
.custom-dragger:hover .ant-upload-text,
.custom-dragger:hover .ant-upload-hint {
  border-color: #ffffff !important; /* White color on hover */
  color: #ffffff !important; /* White color on hover */
}
